* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #e47f63;
  font-family: 'League Spartan', sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: darkblue;
}

#logo {
  position: absolute;
  width: 400px;
  top: 30px;
  left: 50px;
}

#model-list {
  position: absolute;
  width: 240px;
  height: 100%;
  top: 0px;
  right: 0px;
  /* background-color: #e47f63; */
  overflow-y: scroll;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.model-li {
  list-style-type: none;
  width: 200px;
  height: 200px;
  position: relative;
}

.model-description {
  font-weight: 200;
  font-size: 0.9rem;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
}

.model-thumb {
  width: 200px;
  height: 200px;
  background-size: cover;
}
